{
  "extends": [
    "plugin:vue/vue3-recommended",
    "plugin:vue-pug/vue3-recommended",
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  }
}
